/* .custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid { */
.form-control.is-invalid {
    border: 1px solid;
    border-color: #fb6340;
}

.form-control.is-valid {
    border: 1px solid;
    border-color: #2dce89;
}
 
.form-error {
    color: red;
    margin-left: 5px;
    font-size: .75em;
}
