a {
    text-decoration: none;
    color: #5e72e4;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: -webkit-link;
    cursor: pointer;
}

pre {
    background-color: lightgray;
    border-radius: 15px;
    height: 33px;
    padding-top: 7px;
}