.nav-icon{
    margin-top:16px;
}

.section-shaped .shape-style-1.shape-primary {
    background: linear-gradient(150deg,#d68102 15%, #fb6340 70%,  #d68102 94%);
}

.text-orange-1 {
    color: #f9a007;
}

.btn-orange-1 {
    background-color: #f9a007;
    color : white;
}

.text-orange-2 {
    color: #d86e04;
}

.btn-orange-2 {
    background-color: #d86e04;
    color : white;
}

.text-red-1 {
    color: #d14019;
}

.btn-red-1 {
    background-color: #d14019;
    color : white;
}
