<footer class="footer">
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; 2018
          <a href="https://github.com/alexbatis" target="_blank">Alexander Batis</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://github.com/alexbatis/wilbur-app" class="nav-link" target="_blank">Github Repo</a>
          </li>
          <li class="nav-item">
            <!-- TODO : update this when link comes availbale -->
            <a href="https://github.com/alexbatis/wilbur-app" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>